.logo {
    font-weight: bold;
    
    color:white;
    font-size: 40px;
    font-style:bold;
    
}

.first image {
    width: 20%; 
    float: left; 
    margin : 5px;

}

.text {
    float: right;
}

.p{
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
}

.p1{
    font-size: 18px;
    font-family:Arial, Helvetica, sans-serif;
}

.image{
    height: 400px;
    width : 600px;
    
}
/* Footer */
footer {
background-color: grey;
border-top-style: solid;
border-top-width: 5px;
border-top-color: black;
color: white;
min-height: 60px;
font-family: Arial, Helvetica, sans-serif;
font-size: 12px;
text-align: center;
position: fixed;
left: 0;
bottom: 0;
width: 100%;
padding-top: 15px;
}
/* Media Queries */
@media(max-width: 992px) {
    .navbar-expand-lg {
    background-color: #213159 !important;
    }
    .navbar {
      max-height: none;
      padding: inherit;
    }
   
  }